In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
zillow=pd.read_csv('data-zillow.csv')

In [4]:
import seaborn as sns

In [5]:
%matplotlib inline

In [6]:
pip install --upgrade jupyterthemes

Requirement already up-to-date: jupyterthemes in c:\users\adamq\anaconda3\lib\site-packages (0.20.0)
Requirement already satisfied, skipping upgrade: notebook>=5.6.0 in c:\users\adamq\anaconda3\lib\site-packages (from jupyterthemes) (6.0.1)
Requirement already satisfied, skipping upgrade: lesscpy>=0.11.2 in c:\users\adamq\anaconda3\lib\site-packages (from jupyterthemes) (0.14.0)
Requirement already satisfied, skipping upgrade: matplotlib>=1.4.3 in c:\users\adamq\anaconda3\lib\site-packages (from jupyterthemes) (3.1.1)
Requirement already satisfied, skipping upgrade: ipython>=5.4.1 in c:\users\adamq\anaconda3\lib\site-packages (from jupyterthemes) (7.8.0)
Requirement already satisfied, skipping upgrade: jupyter-core in c:\users\adamq\anaconda3\lib\site-packages (from jupyterthemes) (4.5.0)
Requirement already satisfied, skipping upgrade: nbformat in c:\users\adamq\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (4.4.0)
Requirement already satisfied, skipping upgrade: nbconvert in c:\users\adamq\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.6.0)
Requirement already satisfied, skipping upgrade: jupyter-client>=5.3.1 in c:\users\adamq\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.3.3)
Requirement already satisfied, skipping upgrade: Send2Trash in c:\users\adamq\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.5.0)
Requirement already satisfied, skipping upgrade: pyzmq>=17 in c:\users\adamq\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (18.1.0)
Requirement already satisfied, skipping upgrade: ipython-genutils in c:\users\adamq\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.2.0)
Requirement already satisfied, skipping upgrade: ipykernel in c:\users\adamq\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.1.2)
Requirement already satisfied, skipping upgrade: jinja2 in c:\users\adamq\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (2.10.3)
Requirement already satisfied, skipping upgrade: traitlets>=4.2.1 in c:\users\adamq\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (4.3.3)
Requirement already satisfied, skipping upgrade: terminado>=0.8.1 in c:\users\adamq\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.8.2)
Requirement already satisfied, skipping upgrade: prometheus-client in c:\users\adamq\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.7.1)
Requirement already satisfied, skipping upgrade: tornado>=5.0 in c:\users\adamq\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.0.3)
Requirement already satisfied, skipping upgrade: six in c:\users\adamq\anaconda3\lib\site-packages (from lesscpy>=0.11.2->jupyterthemes) (1.12.0)
Requirement already satisfied, skipping upgrade: ply in c:\users\adamq\anaconda3\lib\site-packages (from lesscpy>=0.11.2->jupyterthemes) (3.11)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in c:\users\adamq\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (0.10.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in c:\users\adamq\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.1.0)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\adamq\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.4.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in c:\users\adamq\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.8.0)
Requirement already satisfied, skipping upgrade: numpy>=1.11 in c:\users\adamq\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.16.5)
Requirement already satisfied, skipping upgrade: pygments in c:\users\adamq\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (2.4.2)
Requirement already satisfied, skipping upgrade: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\adamq\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (2.0.10)
Requirement already satisfied, skipping upgrade: decorator in c:\users\adamq\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (4.4.0)
Requirement already satisfied, skipping upgrade: colorama; sys_platform == "win32" in c:\users\adamq\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.4.1)
Requirement already satisfied, skipping upgrade: pickleshare in c:\users\adamq\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.7.5)
Requirement already satisfied, skipping upgrade: backcall in c:\users\adamq\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.1.0)
Requirement already satisfied, skipping upgrade: jedi>=0.10 in c:\users\adamq\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.15.1)
Requirement already satisfied, skipping upgrade: setuptools>=18.5 in c:\users\adamq\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (41.4.0)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in c:\users\adamq\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (3.0.2)
Requirement already satisfied, skipping upgrade: mistune<2,>=0.8.1 in c:\users\adamq\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.8.4)
Requirement already satisfied, skipping upgrade: defusedxml in c:\users\adamq\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.6.0)
Requirement already satisfied, skipping upgrade: testpath in c:\users\adamq\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.4.2)
Requirement already satisfied, skipping upgrade: bleach in c:\users\adamq\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (3.1.0)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in c:\users\adamq\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.3)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in c:\users\adamq\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (1.4.2)
Requirement already satisfied, skipping upgrade: pywin32>=1.0; sys_platform == "win32" in c:\users\adamq\anaconda3\lib\site-packages (from jupyter-client>=5.3.1->notebook>=5.6.0->jupyterthemes) (223)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in c:\users\adamq\anaconda3\lib\site-packages (from jinja2->notebook>=5.6.0->jupyterthemes) (1.1.1)
Requirement already satisfied, skipping upgrade: wcwidth in c:\users\adamq\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=5.4.1->jupyterthemes) (0.1.7)
Requirement already satisfied, skipping upgrade: parso>=0.5.0 in c:\users\adamq\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.4.1->jupyterthemes) (0.5.1)
Requirement already satisfied, skipping upgrade: attrs>=17.4.0 in c:\users\adamq\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=5.6.0->jupyterthemes) (19.2.0)
Requirement already satisfied, skipping upgrade: pyrsistent>=0.14.0 in c:\users\adamq\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=5.6.0->jupyterthemes) (0.15.4)
Requirement already satisfied, skipping upgrade: webencodings in c:\users\adamq\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
jt -t monokai -f fira -fs 13 -nf ptsans -nfs 11 -N -kl -cursw 5 -cursc r -cellw 95% -T

SyntaxError: invalid syntax (<ipython-input-7-56c6bda5a8ac>, line 1)

In [ ]:
zillow

In [ ]:
zillow.dtypes

In [ ]:
zillow['Date']=pd.to_datetime(zillow["Date"])
zillow.dtypes

In [ ]:
zillow['Date'].dtypes

In [ ]:
pip install jupyterthemes

# Filtering using the `isin()` method

1. call the `isin()` method on the desired column

2. pass it the list of cities to make the Boolean series

3. pass the Boolean series to the dataframe for filtering and selection

In [ ]:
city_filter=zillow['Metro'].isin(['New York', 'San Francisco'])
city_filter.head(15)

In [ ]:
!pip install jupyterthemes
!jt -t chesterish

In [ ]:
!jt -t monokai

In [ ]:
zillow[city_filter].head(15)

# Understanding Axes

[r x c]

python is a zero-order lanauge (you start counting from zero)  
so the first value is 0, next is 1, etc  
refer to rows: `axis=0`  
refer to columns: `axis=1`

In [ ]:
zillow.shape

In [ ]:
zillow.shape[0]

In [ ]:
zillow.shape[1]

In [10]:
values=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
values_df=pd.DataFrame(values)

In [11]:
values_df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
#Calculate the mean for the values int eh dataset using the `axis=`
#First do this using `axis=0`
values_df.mean(axis=0)
#The mean will be calculated along the row axis

0    4.0
1    5.0
2    6.0
dtype: float64

In [13]:
values_df.mean(axis=1)
#The mean will be calculated along the column axis
#Think reverse

0    2.0
1    5.0
2    8.0
dtype: float64

In [14]:
values_df.mean(axis="rows")

0    4.0
1    5.0
2    6.0
dtype: float64

In [15]:
values_df.mean(axis="columns")

0    2.0
1    5.0
2    8.0
dtype: float64

In [16]:
values_df.drop(1, axis=1)

   0  2
0  1  3
1  4  6
2  7  9

In [23]:
pet_info=[['Autumn', 4, 'Dog'], ['Belle', 5, 'Dog'], ['Oliver', 4, 'Cat'], ['Khaleesi', 4, 'Cat']]

pet_df=pd.DataFrame(pet_info, columns= ['Name', 'Age', 'Type'], index=['A','B', 'C', 'D'])

In [24]:
pet_df

       Name  Age Type
A    Autumn    4  Dog
B     Belle    5  Dog
C    Oliver    4  Cat
D  Khaleesi    4  Cat

In [26]:
pet_df.drop('B', axis=0)

       Name  Age Type
A    Autumn    4  Dog
C    Oliver    4  Cat
D  Khaleesi    4  Cat

In [27]:
pet_df.drop('Type', axis=1)

       Name  Age
A    Autumn    4
B     Belle    5
C    Oliver    4
D  Khaleesi    4

# Pandas `.filter()` method  
Use `.filter()` to filter data

In [32]:
filtering=zillow.filter(items=['State', 'Metro'])
filtering.head()

  State                           Metro
0    NY                        New York
1    CA  Los Angeles-Long Beach-Anaheim
2    IL                         Chicago
3    PA                    Philadelphia
4    AZ                         Phoenix

In [33]:
#Regular expressions aka regex
filtering_data=zillow.filter(regex='Region', axis=1)

In [34]:
filtering_data

       RegionID         RegionName
0          6181           New York
1         12447        Los Angeles
2         17426            Chicago
3         13271       Philadelphia
4         40326            Phoenix
...         ...                ...
10825     26077            Nehalem
10826     24105  Clear Lake Shores
10827    737788    Lebanon Borough
10828    182023            Henrico
10829     51793     East Hampstead

[10830 rows x 2 columns]

# Using string methods in Pandas

In [35]:
#We can check for a substring in pandas by using the .contains() method

#We use the .contain() on 'RegionName' to find the substring 'New'
zillow['RegionName'].str.contains('New').head(15)

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: RegionName, dtype: bool

In [36]:
zillow.RegionName.str.contains('New').head(15)

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: RegionName, dtype: bool

In [37]:
zillow.RegionName.str.upper().head()

0        NEW YORK
1     LOS ANGELES
2         CHICAGO
3    PHILADELPHIA
4         PHOENIX
Name: RegionName, dtype: object

In [38]:
zillow.RegionName.str.len().head()

0     8
1    11
2     7
3    12
4     7
Name: RegionName, dtype: int64

In [39]:
zillow.RegionName.str.replace(' ', '').head()

0         NewYork
1      LosAngeles
2         Chicago
3    Philadelphia
4         Phoenix
Name: RegionName, dtype: object