Python is an **interpreted** language

In [1]:
a=5

In [2]:
a

5

In [3]:
b = "Hello world"
b

'Hello world'

In [11]:
print(b)

#Print and True are RESERVED/keywords words in Python 
#and will be printed differently to let you know that

Hello world

In [7]:
c=True

In [5]:
d=False

In [8]:
c

True

In [9]:
d

False

PEP 8 ---> Guidelines for writing code in Pyton

variable names and function names have the general title of being identifiers

Spam

_spam

Spam2

spam_2

^ All Valid Identifiers

spam 2 

2spam

^ All NOT Valid Identifiers

In [14]:
PI = 3.1415
DAYS_IN_A_WEEK = 7

In [16]:
PI

3.1415

In [18]:
#this is a list --> identified with items in square brackets

names = ["Carly", "Slava", "Kai", "Ayanna", "Adam", "Eric", "Fechar", "Tyira", "Fernando"]

In [19]:
print(names)

['Carly', 'Slava', 'Kai', 'Ayanna', 'Adam', 'Eric', 'Fechar', 'Tyira', 'Fernando']

In [20]:
names

['Carly',
 'Slava',
 'Kai',
 'Ayanna',
 'Adam',
 'Eric',
 'Fechar',
 'Tyira',
 'Fernando']

In [21]:
a

5

In [22]:
a
b
c
d

False

In [23]:
print(a)
print(b)
print(c)
print(d)

5
Hello world
True
False

In [24]:
#this is a tuple --> identified with items in curly brackets

days = {"Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"}

In [25]:
days

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [26]:
print(days)

{'Friday', 'Tuesday', 'Thursday', 'Saturday', 'Wednesday', 'Sunday', 'Monday'}

In [27]:
#this is a dictionary --> identified by key:value pairs in square bracket

countries = {'us':"United States", 'mex':"Mexico", 'uk':"United Kingdom"}

In [28]:
countries

{'us': 'United States', 'mex': 'Mexico', 'uk': 'United Kingdom'}

In [29]:
print(countries)

{'us': 'United States', 'mex': 'Mexico', 'uk': 'United Kingdom'}

In [30]:
type(countries)

dict

In [31]:
type(a)

int

In [32]:
type(b)

str

In [33]:
type(days)

set

In [34]:
type(names)

list

In [35]:
x = "My name is Adam"
print(x)

My name is Adam

In [36]:
x = True
print(x)

True

In [37]:
w = 5
w

5

In [38]:
id(w)

140736866787856

In [39]:
w = 10

In [40]:
w

10

In [41]:
id(w)

140736866788016

IMMUTABLE 

in order to change the value of w, we had to make a NEW w due to integers being immutable

Strings are also immutable

lists are mutable

In [44]:
name = "Adam"
name

'Adam'

In [45]:
id(name)

2163618667376

In [46]:
name = "Qureshi"
name

'Qureshi'

In [47]:
id(name)

2163618720752

my_list --> Snake case (preferred way of typing variables for python)
 
myList --> camel case

In [49]:
my_list = ["red", "blue", "green"]

In [50]:
my_list

['red', 'blue', 'green']

In [51]:
id(my_list)

2163617844232

In [52]:
my_list.append('yellow')

In [53]:
my_list

['red', 'blue', 'green', 'yellow']

In [54]:
id(my_list)

2163617844232

### Type Casting/Casting

In [55]:
q = 5
type(q)

int

In [56]:
str(q)

'5'

In [57]:
q

5

In [58]:
q = str(q)

In [59]:
q

'5'

In [60]:
r = "hey"

In [61]:
int(r)

ValueError: invalid literal for int() with base 10: 'hey'

In [63]:
s = '10'
type(s)

str

In [64]:
int(s)

10

In [65]:
#Type Casting means taking one type of variable and turning it into another type

In [66]:
x = 100
y = 30

In [69]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)

130
70
3000
3.3333333333333335

In [70]:
10**2   #exponentiation

100

In [71]:
10^2

8

In [72]:
10/2

5.0

In [73]:
10/4

2.5

In [74]:
#floor division

10//4

2

In [75]:
#remainder division
#modulus division
#gives you the remainder of 10/4

10%4

2

In [76]:
x%y

10

In [77]:
print(8/2*2**2)

16.0